*{
    margin: 0;
    padding: 0;
}

.img{
    float: left;
    margin-left: 100px;
    line-height: 60px;
}

.img img{
    height: 35px;
}

.con{
    height: 747px;
}

/* home */
#home{
    position: relative;
    overflow: hidden;
}

#home img{
    width: 1520px;
    height: 747px;
}

#home ul{
    position: absolute;
    left: 0;
    width: 4560px;
}

#home li{
    float: left;
    list-style: none;
}

#home span {
    position: absolute;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 25px;
    cursor: pointer;
  }

/* home end  */

/* map */
#map{
	background-color: #fafafa;
	height: 1000px;
}

#daumRoughmapContainer1678086472122{
	margin:0 auto;
	padding-top: 10px;
}

#ride{
	border: 1px;
	background-color: #f1f1f1;
	width: 800px; 
/* 	text-align:center; */ 
	padding-left: 10px;
	margin:0 auto;
	border-radius: 5px;
}

#interview{
	background-color: #fafafa;
	height: 800px;
}

.h2_t{
	text-align: center;
	padding-top: 50px;
}

/* map end */

/* about */
#about p{
	text-align: center;
	padding-top: 30px;
}

#about{
    padding-top: 150px;
    height: 2200px;
}

#about ul{
    width: 1000px;
    margin: auto;
    margin-top: 150px;
}

#about li{
    list-style: none;
    height: 200px;
    width: 500px;
  }

#about ul span{
    font-size: 20px;
    font-weight: 600;
}

.company{
    width: 1000px;
    margin: auto;
}

.company hr{
    width: 50px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    border: 1px solid rgb(194, 194, 194);
}

.com_logo{
    margin: auto;
    display: block;
}

.name{
    width: 220px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.name span{
    font-weight: 600;
    margin-right: 10px;
}

.name p{
    font-size: 18px;
}

.business{
    width: 710px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 250px;
}

.business img{
    margin-right: 50px;
}

/* about css 끝*/

#vision{
	height:1300px;
	background-color: #fafafa;
	width: 80%;
	margin: 0 auto;
}
	#back{
		width:100%; 
		margin:0 auto; 
		padding-top: 100px;
        height: 500px; 
        position: relative;}
    #back::before{
        content: "";
        background: url("/resources/img/img_vision.jpg");
        background-size: cover;
        opacity: 0.5;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    #back h2{
    text-align: center;
    position: relative;
    font-size: 3.0em;
    }
    #back ul{
    padding-left: 10%;
    text-align: left; 
    position: relative;}
    
    #java{
		width:100%; 
		margin:0 auto;
		height:300px; 
		position: relative;
     }
     #java h2{
    text-align: center;
    position: relative;
     font-size: 3.0em;
    }
      #java ul{
    list-style:none;
    margin:0;
    padding-left:9%;
    position: relative;
    }
    #java ul li{
    margin: 20px 20px 0px 20px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    position: relative;
    }
   	.text{
   	text-align: center;
   	font-size: 1.2em;
   	}
   	#solution{
		width:100%;
		padding-top:0px; 
		margin:0 auto;
		height:200px; 
		position: relative;
     }
     #solution h2{
    text-align: center;
    position: relative;
     font-size: 3.0em;
    }
      #solution ul{
    list-style:none;
    margin:0;
    padding-left:4%;
    position: relative;
    }
    #solution ul li{
    margin: 20px 20px 0px 20px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    position: relative;
    }
   	.text{
   	text-align: center;
   	font-size: 1.2em;
   	}
/* ------비전끝 ------ */

/* service */

#services{
	background-color: #ffffff;
	background-image: url("/resources/img/cloud4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}
.service{
	text-align: center;
}
.center{
	text-align: center;
}
  
  .b1{
	
	width: 450px;
	height: 400px;
	background-color: #fceaba;
	float: left;
	margin-top: 15%;
	border-radius: 20px 20px 20px 20px;
	opacity: 0.9;
	
}
.b2{
	
	width: 450px;
	height: 400px;
	background-color: #9ad2e4;
	display:inline-block;
	margin-top: 15%;
	border-radius: 20px 20px 20px 20px;
	opacity: 0.9;
}

.b3{
	
	width: 450px;
	height: 400px;
	background-color: #c1e7ba;
	float: right;
	margin-top: 15%;
	border-radius: 20px 20px 20px 20px;
	opacity: 0.9;
}
.sic{
	font-weight: bold;
	
}
.mail{
	text-align: center;
	font-weight:bolder; 
	color: white;
}
/* service end */